.animated-button {
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: 1px solid rgb(227, 226, 226);
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.4s;

  &:hover {
    background-color: #555555;
    color: white;
  }

  &:active {
    background-color: #000000;
    transform: translateY(2px);
  }
}
