    .header {
    width: 90vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    box-shadow: 0 5px 5px rgba(0,0,0,.08), 0 5px 12px rgba(0,0,0,.08); /* Đổ bóng */
    background-color:rgb(34, 7, 7); /* Màu nền đen */
    }
